<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, inital-scale=1.0">
    <link rel="stylesheet" href="../../scss/main.scss">
    <title>Auth Sandbox by Andrew Steele</title>
</head>