<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about">
            <h2>Page Not Found</h2>
        </div>        
    </body>
</html>