<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div class="about">
            <h2>Welcome</h2>
            <p></p>
        </div>
        
    </body>
</html>